:root {
  --item-height: 120px;
}

#spawn-item-button {
  min-height: var(--item-height);
}

/*
  https://stackoverflow.com/questions/32915485/how-to-prevent-unicode-characters-from-rendering-as-emoji-in-html-from-javascrip/38452396#38452396
  https://stackoverflow.com/questions/32915485/how-to-prevent-unicode-characters-from-rendering-as-emoji-in-html-from-javascrip/61425438#61425438
*/
.prevent-emoji {
  font-family: monospace;
}

.remove-item-button {
  font-size: 3em;
  line-height: 0.4em;
  top: 0;
  right: 0;
  transition: 0.4s;
}

/* https://bitsofco.de/when-do-the-hover-focus-and-active-pseudo-classes-apply/#orderofstyleshoverthenfocusthenactive */
.remove-item-button:hover {
  color: white;
}

.remove-item-button:focus, .remove-item-button:active {
  /* https://css-tricks.com/8-digit-hex-codes/ */
  color: #00000080;
}
